version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - MONGODB_URI=mongodb://cody:koplcody@172.16.4.148:27017/invox?authSource=admin
      - JWT_SECRET=${JWT_SECRET}
      - WEBAUTHN_RP_ID=${WEBAUTHN_RP_ID}
      - WEBAUTHN_RP_NAME=${WEBAUTHN_RP_NAME}
      - WEBAUTHN_ORIGIN=${WEBAUTHN_ORIGIN}
    volumes:
      - ./public/pdfs:/app/public/pdfs
      - ./public/signatures:/app/public/signatures
    depends_on:
      - mongodb
    restart: unless-stopped
    networks:
      - app_network

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=invox
    networks:
      - app_network
    restart: unless-stopped

networks:
  app_network:
    driver: bridge

volumes:
  mongodb_data:
    driver: local